*{
    box-sizing: border-box;
}
body{
    background-color: blueviolet;
}
h1 {
    display: none;
}
.container{
    width: 1300px;
    border: 1px solid yellow;
    height: 300px;
}
.col{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid red;
    float:left;
    margin-left:10px;
    margin: auto;

}
@media only screen and (max-width:1140px){

    body{
        background-color:red;
    }
    .container{
        width: 960px;
        border: 1px solid yellow;
        height: 604px;
    }
    .col{
        width: 350px;
        height: 350px;
        font-size: 50px;
}
}
@media only screen and (max-width:960px){

    body{
        background-color:green;
    }
    .container{
        width: 860px;
        border: 1px solid yellow;
        height: 604px;
    }
    .col{
        width: 350px;
        height: 350px;
        font-size: 50px;
}
}
@media only screen and (max-width:720px){

    body{
        background-color:blue;
    }
    .container{
        width: 620px;
        border: 1px solid yellow;
        height: 604px;
    }
    .col{
        width: 400px;
        height: 400px;
        font-size: 50px;
        text-align: center;
}
}

@media only screen and (max-width:540px){

    body{
        background-color:coral;
    }
    .container{
        width: 440px;
        border: 1px solid yellow;
        height: 380px;
    }
    .col{
        width: 420px;
        height: 420px;
        font-size: 50px;
        align-items: center;
}
}